@use "../utilities/variables" as *;
@use "../utilities/extends" as *;

/*===================ACERCA DE=======================*/
.acercade-contenedor{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    gap: 4rem; 
    padding: 0rem 4rem 4rem;
}

.acercade-contenedor p{
  line-height: 1.8;
  font-size: 1.2rem;
}

.acercade-contenedor img{
width: 22rem;
height: 32rem;
object-fit: cover
}
.acercade-h1{
    @extend %titulos-estilo;
}

/*==================== RESPONSIVE ===================*/

/*==================== DESKTOP ===================*/
@media only screen and (min-width:992px){

/*==================== A CERCA DE ===================*/
.acercade-contenedor{
    flex-direction: row;
}
.acercade-contenedor p {
    flex: 1;
    line-height: 2;
}
.acercade-contenedor img {
    flex: 1;
    width: 100%;
    height: 80vh;
}
}