@use "../utilities/variables" as *;
@use "../utilities/extends" as *;


/*====================GALERIA===================*/
@use "../utilities/variables" as *;

.galeria-h1{ 
    @extend %titulos-estilo;
}
 //================= CARDS===================
.producto-card-galeria {
  @extend %card-estilo;

  .producto-card-img-galeria {
    @extend %card-img-base;
    height: auto;
  }

  .producto-card-titulo-galeria {
    @extend %card-titulo-base;
  }
}

.contenerdor-flex-card-galeria {
  @extend %flex-container-base;
  padding: 0 0 5rem;
}