/*====================GALERIA===================*/
@use "../utilities/variables" as *;

.galeria-h2{ 
  font-size: 3.5rem;
  text-align: center;
  margin: 5rem 0rem;

}

.producto-card-galeria{
width: 22rem;
text-align: center;
padding: 0.8rem;
background-color: $color-lila;
border-radius: 0.7rem;
}

.producto-card-galeria .producto-card-img-galeria{
    width: 100%;
    height: auto;  
    object-fit: cover;
    border-radius: 0.7rem;
    margin-bottom: 1rem;  
}

.producto-card-titulo-galeria{
    margin-bottom: 1rem;
    font-weight: 600;
}

.contenerdor-flex-card-galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}