@use "../utilities/variables" as *;
@use "../utilities/extends" as *;

/* ====== INDEX MAIN CONTENIDO ====== */

.index-main-presentacion{display: flex;
  font-size: 2rem;
  justify-content: center;
  padding: 0rem;
flex-direction: column;
align-items: center;
}
.index-main-presentacion-h1{display: flex;
  font-size: 2.5rem;
  justify-content: center;
  padding: 3rem;}

.index-main-texto {
    width: 80%;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.6;
}

  .index-main-boton{
  font-size: 1.2rem !important;
  background-color: $color-violeta-oscuro!important;
  color: $color-blanco !important;
  border-color: $color-violeta-oscuro!important;
  margin-top: 2rem !important;
 }

.index-boton{
  display: flex;
  justify-content: center;
}

.index-h2{
  @extend %titulos-estilo;
  margin: 6rem 0rem 0rem;
}

.index-main img, .tienda-main img, .galeria-main img{
  width: 30rem;
}

.index-frase{font-size: 1.5rem;
  padding: 2rem 1rem;
  text-align: center;
  line-height: 1.7;
  border:0.2rem solid;
  margin:7rem 1rem;
  background: linear-gradient(90deg, $color-lila, $color-violeta-oscuro);
  border-radius: 2rem;

    p {
   margin: 0;
 }

}

/*==================== INDEX CARDS ===================*/

.producto-card {
  @extend %card-estilo;
  
  .producto-card-img {
    @extend %card-img-base;
    height: 22rem; 
  }

  .producto-card-titulo{
    @extend %card-titulo-base;
  }

  .producto-card-boton{
    @extend %card-boton-base;
  }
}

.contenerdor-flex-card {
  @extend %flex-container-base;
}

/*==================== RESPONSIVE ===================*/

/*==================== TABLET ===================*/
@media only screen and (min-width:768px){
.index-main-presentacion-h1{
  font-size: 4rem;
}
  .index-h2{
  font-size: 4rem;}
   .carousel-item img {
  width: 60%;
  height: 35rem;
}
.index-frase{
  font-size: 2rem;
  padding: 3rem 1rem;
  }
}

/*==================== DESKTOP ===================*/
@media only screen and (min-width:992px){
.index-main-presentacion-h1{
  font-size: 5rem;
}
  .index-h2{
  font-size: 4rem;}
 .carousel-item img {
  width: 30%;
  height: 35rem;
}
.index-frase{
  font-size: 2rem;
  padding: 3rem;
  margin:7rem 5rem;
  }
}