@use "variables" as vars;

//Titulos del site
%titulos-estilo {
  font-size: 3.5rem;
  text-align: center;
  padding: 5rem;
}

// Base de la card
%card-estilo {
  width: 22rem;
  text-align: center;
  padding: 0.8rem;
  background-color: vars.$color-lila;
  border-radius: 0.7rem;
}

// Imagen adentro de la card
%card-img-base {
  width: 100%;
  object-fit: cover;
  border-radius: 0.7rem;
  margin-bottom: 1rem;
}

// Título de la card
%card-titulo-base {
  margin-bottom: 1rem;
  font-weight: 600;
}

// Boton de la car
%card-boton-base {
  font-size: 1rem;
  background-color: vars.$color-violeta-oscuro;
  color: vars.$color-blanco;
  border: none;
  border-radius: 0.7rem;
  padding: 0.6rem 2rem;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  &:hover {
    background-color: #5a0b6e; 
    transform: scale(1.05) ;   
    cursor: pointer ;
  }
}

// Contenedor flex card
%flex-container-base {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
