%h2-estilo{
  font-size: 3rem;
  text-align: center;
  margin: 5rem 0;
}

%card-estilo{
  width: 22rem;
  text-align: center;
  padding: 0.8rem;
  background-color: $color-lila;
  border-radius: 0.7rem;
}
