/* ====== SITE FOOTER ====== */
@use "../utilities/variables" as *;

.site-footer-logotipo{
  width: 11rem;
}

.site-footer-titulo{
  font-size: 2rem;
}

.site-footer{
  background-color: $color-violeta-oscuro; 
  color: $color-blanco;
}
.site-footer-copyright{ 
  display: flex;
  color: $color-blanco;
  justify-content: center;
  padding: 3rem 2rem 0rem;
  text-align: center;
}

.site-footer-navegacion{
  color: $color-blanco;
  font-size: 1rem;
  text-decoration: none;
  line-height: 1.7
}

.site-footer-imagen{
  width: 1.5rem;
}
.site-footer-h3{
  font-size: 1.7rem;
  width: 100%;
  text-align: center;

}

.site-footer-section{  
  display: flex;
  align-items:center;             
  gap: 3rem;
  padding: 3rem 0rem 0rem;
  flex-direction: column;
  justify-content: space-around;

  ul {
    display: flex;
    list-style: none;
    align-items: center;
    flex-direction: column;
    padding-left:0 ;
  }
}

/*==================== RESPONSIVE ===================*/

/*==================== TABLET ===================*/

@media only screen and (min-width:768px){
.site-footer-section{ 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto; 
  gap: 2rem;
  justify-items: center;  
  align-items: center; 
}
.footer-logo {
  grid-column: 1 / 3; 
}

}

/*==================== DESKTOP ===================*/
@media only screen and (min-width:992px){
.site-footer-section{ 
  display: flex;
  flex-direction: row;
}
}
